extends layout

block content
  h1= title
  p Welcome to #{title}
  br
  p create room - /create-room (POST)
  p Book room - /book-room (POST)
  p List rooms - /list-rooms (GET)
  p List customers - /list-customers (GET)
